/* phpcs:ignore */

#invitation-item .label-wrapper {
	align-items: start;
}

#invitation-item input.invitation-link {
	cursor: text;
	color: #888888;
	padding: 0;
	border: 0;
	height: auto;
	margin-top: 5px;
    text-overflow: ellipsis;
}


#invitation-item .has-tip {
	cursor: text;
}

.spaces-invitation-box {
	margin-left: 26px;
}

.spaces-invitation-link-box.link-disabled,
.invitation-toggle.link-disabled {
	display: none;
}

.invitation-label,
.self-registration-label:not(.link-disabled) {
    cursor: pointer;
}

.invitation-label.link-disabled {
    cursor: default;
}

li > label.self-registration-disabled.label-wrapper,
li > label.self-registration-label.private {
    display: none;
}

.self-registration-label.private + .self-registration-disabled {
    display: flex;
}
