/* phpcs:ignore */

/* #invitation-settings .label-wrapper {
	align-items: start;
} */

#invitation-settings input.invitation-link {
	cursor: text;
	color: #888888;
	border: 0;
	height: auto;
	margin-top: 5px;
	text-overflow: ellipsis;
}


#invitation-settings .has-tip {
	cursor: text;
}
#invitation-settings .edit-link {
	cursor: text;
	margin-left: 0.5rem;
}

.menu.icon-left>li.invitation-hide,
.invitation-hide,
.spaces-invitation-box.link-disabled,
.spaces-invitation-link-box.link-disabled,
.menu.icon-left>li>label.invitation-label.no-toggle .invitation-toggle,
label.invitation-label.no-toggle .invitation-toggle,
.invitation-toggle.link-disabled {
	display: none;
}

.invitation-label:not(.no-toggle),
.self-registration-label:not(.link-disabled) {
	cursor: pointer;
}

.invitation-label.link-disabled {
	cursor: default;
}

li>label.self-registration-disabled.label-wrapper,
li>label.self-registration-label.private {
	display: none;
}

.self-registration-label.private+.self-registration-disabled {
	display: flex;
}

.invitation-edit-link {
	cursor: pointer;
}

.spaces-invitation-link-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
