<div class="card-section no-padding radio-accordion-content" style="{{ style }}">
	<small>
		{{ description }}
	</small>
	<div class="spaces-invitation-box padding-button spaces-invitation-link-box">
		<span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1"
			title="{{copy_text}}">
			<input onClick="this.select();" class="invitation-link" type="text" value="{{ link }}" readonly="true" />
		</span>
		<span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1"
			title="{{change_password_text}}">
			<i class="fa fa-edit invitation-edit-link"></i>
		</span>
	</div>
</div>
