<div class="cell card static padding-button " id="notification-toogle-switch">
	<label class="icon-left label-wrapper" for="notification-toggle-join-{{ blog_id }}">
		<i class="fa fa-envelope" aria-hidden="true"></i>
		<span>{{ title }}</span>
		<div class="switch small notification-toggle success" title="{{ title }}">
			<input id='notification-toggle-join-{{ blog_id }}' data-blog-id='{{ blog_id }}' class='switch-input' type='checkbox' name='notification-toggle[]' {{checked}}>

			<label class="switch-paddle" for='notification-toggle-join-{{ blog_id }}'>
				<span class="show-for-sr"><span>{{ title }}</span></span>
			</label>

		</div>
	</label>
</div>
