<label class="icon-left label-wrapper invitation-label {{ toggle_button_class }}">
    <i class="fa fa-link"></i>
    <span class="invitation-text"></span>
    <div class="switch small invitation-toggle success {{ toggle_button_class }}">
        <input type="checkbox" class="switch-input" name="invitation-input" id="invitation-input" data-checked="{{ link_enabled }}"/>
        <label class="switch-paddle" for="invitation-input">
        </label>
    </div>
</label>
<div class="padding-button spaces-invitation-link-box {{ link_enabled_class }}">
    <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="{{copy_text}}">
        <input class="invitation-link" type="text" value="{{ link }}" readonly="true" />
    </span>
    <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="{{change_password_text}}">
        <i class="fa fa-edit invitation-edit-link"></i>
    </span>
</div>
<small class="padding-button {{ link_enabled_class }}">
	{{ description_text }}
</small>

