<label class="icon-left label-wrapper invitation-label {{ toggle_button_class }}">
    <i class="fa fa-link"></i>
    <span class="invitation-text"></span>
    <div class="switch small invitation-toggle success {{ toggle_button_class }}">
        <input type="checkbox" class="switch-input" name="invitation-input" id="invitation-input" data-checked="{{ link_enabled }}"/>
        <label class="switch-paddle" for="invitation-input">
        </label>
    </div>
</label>
<div class="spaces-invitation-box spaces-invitation-link-box {{ link_enabled_class }}">
    <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="Press Ctrl+C to copy.">
        <input class="invitation-link" type="text" value="{{ link }}" readonly="true" />
    </span>
    <i class="fa fa-edit invitation-edit-link"></i>
</div>
<div class="spaces-invitation-box {{ link_enabled_class }}">
    User who click on the Invitation link will be added with the role {{ default_role }}.
</div>

